<mat-card class="login-card">
    <div *ngIf="error">Une erreur est survenue.</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">        
        <mat-card-content>
            <div>
                <mat-form-field>
                    <input matInput placeholder="username" formControlName="username">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="password" formControlName="password">
                </mat-form-field>
            </div>    
        </mat-card-content>
        <mat-card-actions >
            <button mat-flat-button color="primary" type="submit" class='mat-button'>Connect</button>
        </mat-card-actions>
    </form>    
</mat-card>