<section>
    <mat-card class="login-card">
        
        <div *ngIf="error">Une erreur est survenue.</div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field>
                    <input type="text" matInput placeholder="username" formControlName="username">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type="password" matInput placeholder="password" formControlName="password">
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary" type="submit" class='mat-button'>Connect</button>
        </form>

    </mat-card>
</section>
