<section>
    <div *ngIf="error">
        Une erreur est survenue.
    </div>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mat-form-field-wrapper">
        <div>
            <mat-form-field>
                <input matInput placeholder="username" formControlName="username">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="password" formControlName="password">
            </mat-form-field>
        </div>
    
        <div>
            <button mat-flat-button color="primary" type="submit" class='mat-button'>Connect</button>
        </div>
    </form>
</section>